<md-list>
  <md-list-item>
    <md-input-container [style.width]="'100%'">
      <input md-input [(ngModel)]="projectKey" placeholder="Unique Project Key">
    </md-input-container>
  </md-list-item>
  <md-list-item>
    <button md-button [style.width]="'50%'" (click)="add()">CREATE</button>
    <button md-button [style.width]="'50%'" (click)="cancel()">CANCEL</button>
  </md-list-item>
</md-list>