<md-card [style.width]="'94%'" [style.height]="'92%'" [style.margin]="'4px'" [style.padding]="'4px'">
    <md-list>

      <md-list-item [style.margin-top]="'4px'">
        <h4 md-line [style.margin-bottom]="'8px'"><span class="faded">Name</span><br> {{task.task.name}}</h4>
        <p md-line [style.margin-bottom]="'8px'"><span class="faded">Description:</span><br> {{task.task.description}}</p>
        <p md-line [style.margin-bottom]="'8px'"><span class="faded">Workers:</span><br> {{ownersString}}</p>
        <p md-line><span class="faded">Creator:</span><br> {{task.task.creator}}</p>
      </md-list-item>
      <md-list-item [style.position]="'absolute'" [style.bottom]="'0'" [style.left]="'0'" [style.margin-bottom]="'4px'">
        <button *ngIf="isAssigned === false" md-icon-button (click)="assign()"><md-icon>hourglass_empty</md-icon></button>
        <button *ngIf="isAssigned === true" md-icon-button (click)="unassign()"><md-icon>hourglass_full</md-icon></button>
        <button md-icon-button (click)="complete()"><md-icon>done</md-icon></button>
        <button md-icon-button (click)="moreInfo()"><md-icon>more_horiz</md-icon></button>
      </md-list-item>
    </md-list>
</md-card>