<md-list>
  <h2 md-subheader>Information</h2>
  <md-list-item>
    <p md-line [style.margin-bottom]="'8px'">Name:<br> {{task.task.name}}</p>
    <p md-line [style.margin-bottom]="'8px'">Description:<br>{{task.task.description}}</p>
    <p md-line [style.margin-bottom]="'8px'">Creator:<br>{{task.task.creator}}</p>
    <p md-line [style.margin-bottom]="'8px'">Workers:<br>{{ownerString}}</p>
    <p md-line [style.margin-bottom]="'8px'">Currently assigned to you:<br>{{isAssigned === true ? 'Yes' : 'No'}}</p>
  </md-list-item>
  <md-divider [style.margin]="'8px 0px'"></md-divider>

    <h2 md-subheader>Comments</h2>
  <md-list-item [style.width]="'100%'" [style.margin-top]="'12px 0px'">
    <md-input-container [style.width]="'100%'">
      <input md-input type="text" [(ngModel)]="commentText" placeholder="Comment.." (keyup.enter)="submitComment()" >
    </md-input-container>
    <button md-icon-button (click)="submitComment()"><md-icon>send</md-icon></button>
  </md-list-item>
  <md-list-item *ngFor="let comment of comments" >
    <p md-line class="faded">{{comment.comment.date}}</p>
    <p md-line>{{comment.comment.name}}: {{comment.comment.message}}</p>
  </md-list-item>

</md-list>