<md-toolbar #toolbar [color]="'primary'" style="-webkit-app-region: drag;" >
  <button md-icon-button [style.margin-right]="'15px'" (click)="openMenu()" style="-webkit-app-region: no-drag;" ><md-icon>menu</md-icon></button>
  <span >{{title}}</span>
  <span [style.flex]="'1 1 auto'"></span>
  <button md-icon-button (click)="minimize()" style="-webkit-app-region: no-drag;" ><md-icon>remove</md-icon></button>
  <button md-icon-button (click)="maximize()" style="-webkit-app-region: no-drag;" ><md-icon>crop_square</md-icon></button>
  <button md-icon-button (click)="close()" style="-webkit-app-region: no-drag;" ><md-icon>close</md-icon></button>
</md-toolbar>