<md-list *ngIf="status === 'create'">
    <h2 md-subheader>Create Account</h2>
    <h3>{{message}}</h3>
    <md-list-item>
        <md-input-container [style.width]="'100%'">
        <input md-input [(ngModel)]="firstName" placeholder="First Name:">
        </md-input-container>
    </md-list-item>
    <md-list-item>
        <md-input-container [style.width]="'100%'">
        <input md-input [(ngModel)]="lastName" placeholder="Last Name:">
        </md-input-container>
    </md-list-item>
    <md-list-item>
        <md-input-container [style.width]="'100%'">
        <input md-input [(ngModel)]="email" placeholder="Email:" type="email">
        </md-input-container>
    </md-list-item>
    <md-list-item>
        <md-input-container [style.width]="'100%'">
        <input md-input [(ngModel)]="password" placeholder="Password:" type="password">
        </md-input-container>
    </md-list-item>
    <button md-button [style.width]="'100%'" (click)="createAccount()">     
        <md-list-item md-button>
            <h3 md-line>CREATE ACCOUNT</h3>
        </md-list-item>
    </button>
    <button md-button [style.width]="'100%'" (click)="cancel()">     
        <md-list-item md-button>
            <h3 md-line>CANCEL</h3>
        </md-list-item>
    </button>
</md-list>

<md-progress-spinner style="display: block; margin-left: auto; margin-right: auto; margin-top: 40px;" *ngIf="status === 'progress'" mode="indeterminate" [color]="'primary'"></md-progress-spinner>