<md-list>
  <md-list-item>
    <md-input-container [style.width]="'100%'">
      <input md-input [(ngModel)]="projectName" placeholder="Project Name">
    </md-input-container>
  </md-list-item>
  <md-list-item>
    <button md-button [style.width]="'50%'" (click)="create()">CREATE</button>
    <button md-button [style.width]="'50%'" (click)="cancel()">CANCEL</button>
  </md-list-item>
</md-list>