<app-navbar #appbar [title]="'Tasky'" (onMenuClick)="openMenu($event)"></app-navbar>

<md-sidenav-container fullscreen [style.z-index]="-100" [style.margin-top]="barHeight" [style.background-color]="'#fff'" (window:resize)="onResize($event)">
    <md-sidenav #menu [style.width]="sidebarWidth" [style.padding]="'0px'" [mode]="'push'" >
         
        <md-progress-spinner style="display: block; margin-left: auto; margin-right: auto; margin-top: 40px;" *ngIf="uid === 'progress'" mode="indeterminate" [color]="'primary'"></md-progress-spinner>

        <md-list *ngIf="uid === 'null'">
            <h2 md-subheader>Login</h2>
            <h3>{{loginMessage}}</h3>
            <md-list-item>
                <md-input-container [style.width]="'100%'">
                <input md-input [(ngModel)]="email" placeholder="Email:" type="email" (keyup.enter)="pass.focus()">
                </md-input-container>
            </md-list-item>
            <md-list-item>
                <md-input-container [style.width]="'100%'">
                <input #pass md-input [(ngModel)]="password" placeholder="Password:" type="password" (keyup.enter)="login()">
                </md-input-container>
            </md-list-item>
            <button md-button [style.width]="'100%'" (click)="login()">     
                <md-list-item md-button>
                    <h3 md-line>LOGIN</h3>
                </md-list-item>
            </button>
            <button md-button [style.width]="'100%'" (click)="createAccount()">     
                <md-list-item md-button>
                    <h3 md-line>CREATE ACCOUNT</h3>
                </md-list-item>
            </button>
        </md-list>

        <app-create-account-form *ngIf="uid === 'create'" (onCreate)="onCreateAccount($event)" (onCancel)="onCancelCreateAccount($event)"></app-create-account-form>

        <md-list *ngIf="uid === 'verify'">
            <h2 md-subheader>Verify Email Address</h2>
            <h3>You must verify your email.</h3>
            <button md-button [style.width]="'100%'" (click)="resendEmail()">     
                <md-list-item md-button>
                    <h3 md-line>RESEND EMAIL</h3>
                </md-list-item>
            </button>
            <button md-button [style.width]="'100%'" (click)="verifyRefresh()">     
                <md-list-item md-button>
                    <h3 md-line>I HAVE VERIFIED MY EMAIL</h3>
                </md-list-item>
            </button>
            <button md-button [style.width]="'100%'" (click)="logout()">     
                <md-list-item md-button>
                    <h3 md-line>LOGOUT</h3>
                </md-list-item>
            </button>
        </md-list>

         <md-list *ngIf="uid !== 'null' && uid !== 'progress' && uid !== 'create' && uid !== 'verify'">
            <h1 md-subheader>Hi {{userData.firstName}},</h1>

            <button md-button [style.width]="'100%'" (click)="openProjectDialog()">     
                <md-list-item md-button>
                    <h3 md-line>NEW PROJECT</h3>
                </md-list-item>
            </button>
            <button md-button [style.width]="'100%'" (click)="openAddProjectDialog()">     
                <md-list-item md-button>
                    <h3 md-line>ADD PROJECT</h3>
                </md-list-item>
            </button>
            <md-divider [style.margin-top]="'20px'"></md-divider>

            <h2 md-subheader style="margin-bottom: 20px;">MY PROJECTS</h2>

            <button *ngFor="let project of myProjects" md-button [style.width]="'100%'" (click)="selectProject(project)">     
                <md-list-item>
                    <h3 md-line>{{project.name}}</h3>
                </md-list-item>
            </button>

            <h2 md-subheader style="margin-bottom: 20px;">OTHER PROJECTS</h2>

            <button *ngFor="let project of otherProjects" md-button [style.width]="'100%'" (click)="selectProject(project)">     
                <md-list-item>
                    <h3 md-line>{{project.name}}</h3>
                </md-list-item>
            </button>

            <md-divider [style.margin-top]="'20px'"></md-divider>
            <h2 md-subheader>Settings</h2>
            <button md-button [style.width]="'100%'" (click)="logout()">     
                <md-list-item md-button>
                    <h3 md-line>Logout</h3>
                </md-list-item>
            </button>
        </md-list>
    </md-sidenav>

  <app-project *ngIf="selectedProject != null" [projectKey]="selectedProject" [userData]="userData" [uid]="uid" ></app-project>

</md-sidenav-container>