<md-tab-group [style.height]="'100%'" (window:resize)="onResize()">
  <md-tab label="My Tasks">
    <md-grid-list [cols]="numOfCols">
      <md-grid-tile *ngFor="let task of myTasks"  >
        <app-open-task [task]="task" [uid]="uid" [projectKey]="projectKey" [userData]="userData" (refresh)="init()" [style.width]="'100%'" [style.height]="'100%'" ></app-open-task>
      </md-grid-tile>
    </md-grid-list>
  </md-tab>

  <md-tab label="Open Tasks">
    <button md-button (click)="openAddTaskDialog()">ADD NEW TASK</button>
    <md-grid-list [cols]="numOfCols">
      <md-grid-tile *ngFor="let task of openTasks">
        <app-open-task [task]="task" [uid]="uid" [projectKey]="projectKey" [userData]="userData" (refresh)="init()" [style.width]="'100%'" [style.height]="'100%'" ></app-open-task>
      </md-grid-tile>
    </md-grid-list>
  </md-tab>

  <md-tab label="Completed Tasks">
    <md-grid-list [cols]="numOfCols">
      <md-grid-tile *ngFor="let task of completedTasks">
        <app-open-task [task]="task" [uid]="uid" [projectKey]="projectKey" [userData]="userData" (refresh)="init()" [style.width]="'100%'" [style.height]="'100%'" ></app-open-task>
      </md-grid-tile>
    </md-grid-list>
  </md-tab>

  <md-tab label="Users">
    <md-list>
      <md-list-item *ngIf="project" (click)="openUserDialog(project.owner.key)">
        <h4 md-line>Project Owner:</h4>
        <p md-line>{{project.owner.name}}</p>
        <p md-line><span class="faded">Current Tasks:</span> {{projectOwnerTaskCount}}</p>
      </md-list-item>
      <md-divider [style.margin]="'8px 0px'"></md-divider>
      <md-list-item *ngFor="let user of users" (click)="openUserDialog(user.key)">
        <h4 md-line>User:</h4>
        <p md-line>{{user.user.name}}</p>
        <p md-line><span class="faded">Current Tasks:</span> {{user.taskCount}}</p>
      </md-list-item>
    </md-list>
  </md-tab>

  <md-tab label="Project Info">
    <md-list>
      <md-list-item *ngIf="project" (click)="openUserDialog(project.owner.key)">
        <h4 md-line>Project Owner:</h4>
        <p md-line>{{project.owner.name}}</p>
      </md-list-item>
      <md-divider [style.margin]="'8px 0px'"></md-divider>
      <md-list-item>
        <h4 md-line>Invitation Key (use this to invite people):</h4>
        <p md-line>{{projectKey}}</p>
      </md-list-item>
    </md-list>
  </md-tab>


</md-tab-group>
