<md-list>
  <md-list-item>
    <md-input-container [style.width]="'100%'">
      <input md-input [(ngModel)]="taskName" placeholder="Task Name">
    </md-input-container>
  </md-list-item>
    <md-list-item>
    <md-input-container [style.width]="'100%'">
      <input md-input [(ngModel)]="taskDesc" placeholder="Task Description">
    </md-input-container>
  </md-list-item>
  <md-list-item>
    <button md-button [style.width]="'50%'" (click)="create()">CREATE</button>
    <button md-button [style.width]="'50%'" (click)="cancel()">CANCEL</button>
  </md-list-item>
</md-list>