/**
 * Applies styles for users in high contrast mode. Note that this only applies
 * to Microsoft browsers. Chrome can be included by checking for the `html[hc]`
 * attribute, however Chrome handles high contrast differently.
 */
.md-elevation-z0 {
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12); }

.md-elevation-z1 {
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12); }

.md-elevation-z2 {
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12); }

.md-elevation-z3 {
  box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12); }

.md-elevation-z4 {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12); }

.md-elevation-z5 {
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12); }

.md-elevation-z6 {
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12); }

.md-elevation-z7 {
  box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.2), 0px 7px 10px 1px rgba(0, 0, 0, 0.14), 0px 2px 16px 1px rgba(0, 0, 0, 0.12); }

.md-elevation-z8 {
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12); }

.md-elevation-z9 {
  box-shadow: 0px 5px 6px -3px rgba(0, 0, 0, 0.2), 0px 9px 12px 1px rgba(0, 0, 0, 0.14), 0px 3px 16px 2px rgba(0, 0, 0, 0.12); }

.md-elevation-z10 {
  box-shadow: 0px 6px 6px -3px rgba(0, 0, 0, 0.2), 0px 10px 14px 1px rgba(0, 0, 0, 0.14), 0px 4px 18px 3px rgba(0, 0, 0, 0.12); }

.md-elevation-z11 {
  box-shadow: 0px 6px 7px -4px rgba(0, 0, 0, 0.2), 0px 11px 15px 1px rgba(0, 0, 0, 0.14), 0px 4px 20px 3px rgba(0, 0, 0, 0.12); }

.md-elevation-z12 {
  box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.2), 0px 12px 17px 2px rgba(0, 0, 0, 0.14), 0px 5px 22px 4px rgba(0, 0, 0, 0.12); }

.md-elevation-z13 {
  box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.2), 0px 13px 19px 2px rgba(0, 0, 0, 0.14), 0px 5px 24px 4px rgba(0, 0, 0, 0.12); }

.md-elevation-z14 {
  box-shadow: 0px 7px 9px -4px rgba(0, 0, 0, 0.2), 0px 14px 21px 2px rgba(0, 0, 0, 0.14), 0px 5px 26px 4px rgba(0, 0, 0, 0.12); }

.md-elevation-z15 {
  box-shadow: 0px 8px 9px -5px rgba(0, 0, 0, 0.2), 0px 15px 22px 2px rgba(0, 0, 0, 0.14), 0px 6px 28px 5px rgba(0, 0, 0, 0.12); }

.md-elevation-z16 {
  box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, 0.2), 0px 16px 24px 2px rgba(0, 0, 0, 0.14), 0px 6px 30px 5px rgba(0, 0, 0, 0.12); }

.md-elevation-z17 {
  box-shadow: 0px 8px 11px -5px rgba(0, 0, 0, 0.2), 0px 17px 26px 2px rgba(0, 0, 0, 0.14), 0px 6px 32px 5px rgba(0, 0, 0, 0.12); }

.md-elevation-z18 {
  box-shadow: 0px 9px 11px -5px rgba(0, 0, 0, 0.2), 0px 18px 28px 2px rgba(0, 0, 0, 0.14), 0px 7px 34px 6px rgba(0, 0, 0, 0.12); }

.md-elevation-z19 {
  box-shadow: 0px 9px 12px -6px rgba(0, 0, 0, 0.2), 0px 19px 29px 2px rgba(0, 0, 0, 0.14), 0px 7px 36px 6px rgba(0, 0, 0, 0.12); }

.md-elevation-z20 {
  box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.2), 0px 20px 31px 3px rgba(0, 0, 0, 0.14), 0px 8px 38px 7px rgba(0, 0, 0, 0.12); }

.md-elevation-z21 {
  box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.2), 0px 21px 33px 3px rgba(0, 0, 0, 0.14), 0px 8px 40px 7px rgba(0, 0, 0, 0.12); }

.md-elevation-z22 {
  box-shadow: 0px 10px 14px -6px rgba(0, 0, 0, 0.2), 0px 22px 35px 3px rgba(0, 0, 0, 0.14), 0px 8px 42px 7px rgba(0, 0, 0, 0.12); }

.md-elevation-z23 {
  box-shadow: 0px 11px 14px -7px rgba(0, 0, 0, 0.2), 0px 23px 36px 3px rgba(0, 0, 0, 0.14), 0px 9px 44px 8px rgba(0, 0, 0, 0.12); }

.md-elevation-z24 {
  box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12); }

[md-ripple] {
  overflow: hidden; }

[md-ripple].mdRippleUnbounded {
  overflow: visible; }

.md-ripple-background {
  background-color: rgba(0, 0, 0, 0.0588);
  opacity: 0;
  transition: opacity 300ms linear;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0; }

.mdRippleUnbounded .md-ripple-background {
  display: none; }

.md-ripple-background.md-ripple-active {
  opacity: 1; }

.mdRippleFocused .md-ripple-background {
  opacity: 1; }

.md-ripple-foreground {
  background-color: rgba(0, 0, 0, 0.0588);
  border-radius: 50%;
  pointer-events: none;
  opacity: 0.25;
  position: absolute;
  transition: opacity, transform 0ms cubic-bezier(0, 0, 0.2, 1); }

.md-ripple-foreground.md-ripple-fade-in {
  opacity: 1; }

.md-ripple-foreground.md-ripple-fade-out {
  opacity: 0; }

.cdk-visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  text-transform: none;
  width: 1px; }

.cdk-overlay-container, .cdk-global-overlay-wrapper {
  pointer-events: none;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%; }

.cdk-overlay-container {
  position: fixed;
  z-index: 1000; }

.cdk-global-overlay-wrapper {
  display: flex;
  position: absolute;
  z-index: 1000; }

.cdk-overlay-pane {
  position: absolute;
  pointer-events: auto;
  box-sizing: border-box;
  z-index: 1000; }

.cdk-overlay-backdrop {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  pointer-events: auto;
  transition: opacity 400ms cubic-bezier(0.25, 0.8, 0.25, 1);
  opacity: 0; }
  .cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
    opacity: 0.48; }

.cdk-overlay-dark-backdrop {
  background: rgba(0, 0, 0, 0.6); }

.cdk-overlay-transparent-backdrop {
  background: none; }

.mdRippleFocused .md-ripple-background {
  background-color: rgba(24, 255, 255, 0.1); }

[md-button].md-button-focus.md-primary .md-button-focus-overlay, [md-icon-button].md-button-focus.md-primary .md-button-focus-overlay, [md-raised-button].md-button-focus.md-primary .md-button-focus-overlay, [md-fab].md-button-focus.md-primary .md-button-focus-overlay, [md-mini-fab].md-button-focus.md-primary .md-button-focus-overlay {
  background-color: rgba(0, 188, 212, 0.12); }

[md-button].md-button-focus.md-accent .md-button-focus-overlay, [md-icon-button].md-button-focus.md-accent .md-button-focus-overlay, [md-raised-button].md-button-focus.md-accent .md-button-focus-overlay, [md-fab].md-button-focus.md-accent .md-button-focus-overlay, [md-mini-fab].md-button-focus.md-accent .md-button-focus-overlay {
  background-color: rgba(24, 255, 255, 0.12); }

[md-button].md-button-focus.md-warn .md-button-focus-overlay, [md-icon-button].md-button-focus.md-warn .md-button-focus-overlay, [md-raised-button].md-button-focus.md-warn .md-button-focus-overlay, [md-fab].md-button-focus.md-warn .md-button-focus-overlay, [md-mini-fab].md-button-focus.md-warn .md-button-focus-overlay {
  background-color: rgba(244, 67, 54, 0.12); }

[md-button], [md-icon-button] {
  background: transparent; }
  [md-button].md-primary, [md-icon-button].md-primary {
    color: #00bcd4; }
  [md-button].md-accent, [md-icon-button].md-accent {
    color: #18ffff; }
  [md-button].md-warn, [md-icon-button].md-warn {
    color: #f44336; }
  [md-button].md-primary[disabled], [md-button].md-accent[disabled], [md-button].md-warn[disabled], [md-button][disabled][disabled], [md-icon-button].md-primary[disabled], [md-icon-button].md-accent[disabled], [md-icon-button].md-warn[disabled], [md-icon-button][disabled][disabled] {
    color: rgba(0, 0, 0, 0.38); }
  [md-button]:hover.md-primary .md-button-focus-overlay, [md-icon-button]:hover.md-primary .md-button-focus-overlay {
    background-color: rgba(0, 188, 212, 0.12); }
  [md-button]:hover.md-accent .md-button-focus-overlay, [md-icon-button]:hover.md-accent .md-button-focus-overlay {
    background-color: rgba(24, 255, 255, 0.12); }
  [md-button]:hover.md-warn .md-button-focus-overlay, [md-icon-button]:hover.md-warn .md-button-focus-overlay {
    background-color: rgba(244, 67, 54, 0.12); }

[md-raised-button], [md-fab], [md-mini-fab] {
  background-color: #fafafa; }
  [md-raised-button].md-primary, [md-fab].md-primary, [md-mini-fab].md-primary {
    color: white; }
  [md-raised-button].md-accent, [md-fab].md-accent, [md-mini-fab].md-accent {
    color: rgba(0, 0, 0, 0.87); }
  [md-raised-button].md-warn, [md-fab].md-warn, [md-mini-fab].md-warn {
    color: white; }
  [md-raised-button].md-primary[disabled], [md-raised-button].md-accent[disabled], [md-raised-button].md-warn[disabled], [md-raised-button][disabled][disabled], [md-fab].md-primary[disabled], [md-fab].md-accent[disabled], [md-fab].md-warn[disabled], [md-fab][disabled][disabled], [md-mini-fab].md-primary[disabled], [md-mini-fab].md-accent[disabled], [md-mini-fab].md-warn[disabled], [md-mini-fab][disabled][disabled] {
    color: rgba(0, 0, 0, 0.38); }
  [md-raised-button].md-primary, [md-fab].md-primary, [md-mini-fab].md-primary {
    background-color: #00bcd4; }
  [md-raised-button].md-accent, [md-fab].md-accent, [md-mini-fab].md-accent {
    background-color: #18ffff; }
  [md-raised-button].md-warn, [md-fab].md-warn, [md-mini-fab].md-warn {
    background-color: #f44336; }
  [md-raised-button].md-primary[disabled], [md-raised-button].md-accent[disabled], [md-raised-button].md-warn[disabled], [md-raised-button][disabled][disabled], [md-fab].md-primary[disabled], [md-fab].md-accent[disabled], [md-fab].md-warn[disabled], [md-fab][disabled][disabled], [md-mini-fab].md-primary[disabled], [md-mini-fab].md-accent[disabled], [md-mini-fab].md-warn[disabled], [md-mini-fab][disabled][disabled] {
    background-color: rgba(0, 0, 0, 0.12); }

[md-fab], [md-mini-fab] {
  background-color: #18ffff;
  color: rgba(0, 0, 0, 0.87); }

.md-button-toggle-checked .md-button-toggle-label-content {
  background-color: #e0e0e0; }

.md-button-toggle-disabled .md-button-toggle-label-content {
  background-color: rgba(0, 0, 0, 0.38); }

md-card {
  background: white;
  color: black; }

md-card-subtitle {
  color: rgba(0, 0, 0, 0.54); }

.md-checkbox-frame {
  border-color: rgba(0, 0, 0, 0.54); }

.md-checkbox-checkmark {
  fill: #fafafa; }

.md-checkbox-checkmark-path {
  stroke: #fafafa !important; }

.md-checkbox-mixedmark {
  background-color: #fafafa; }

.md-checkbox-indeterminate.md-primary .md-checkbox-background, .md-checkbox-checked.md-primary .md-checkbox-background {
  background-color: #00bcd4; }

.md-checkbox-indeterminate.md-accent .md-checkbox-background, .md-checkbox-checked.md-accent .md-checkbox-background {
  background-color: #00bcd4; }

.md-checkbox-indeterminate.md-warn .md-checkbox-background, .md-checkbox-checked.md-warn .md-checkbox-background {
  background-color: #f44336; }

.md-checkbox-disabled.md-checkbox-checked .md-checkbox-background, .md-checkbox-disabled.md-checkbox-indeterminate .md-checkbox-background {
  background-color: #b0b0b0; }

.md-checkbox-disabled:not(.md-checkbox-checked) .md-checkbox-frame {
  border-color: #b0b0b0; }

.md-checkbox:not(.md-checkbox-disabled).md-primary .md-checkbox-ripple .md-ripple-foreground {
  background-color: rgba(0, 188, 212, 0.26); }

.md-checkbox:not(.md-checkbox-disabled).md-accent .md-checkbox-ripple .md-ripple-foreground {
  background-color: rgba(24, 255, 255, 0.26); }

.md-checkbox:not(.md-checkbox-disabled).md-warn .md-checkbox-ripple .md-ripple-foreground {
  background-color: rgba(244, 67, 54, 0.26); }

.md-chip:not(.md-basic-chip) {
  background-color: #e0e0e0;
  color: rgba(0, 0, 0, 0.87); }

.md-chip.md-chip-selected:not(.md-basic-chip) {
  background-color: #808080;
  color: rgba(255, 255, 255, 0.87); }
  .md-chip.md-chip-selected:not(.md-basic-chip).md-primary {
    background-color: #00bcd4;
    color: white; }
  .md-chip.md-chip-selected:not(.md-basic-chip).md-accent {
    background-color: #00bcd4;
    color: white; }
  .md-chip.md-chip-selected:not(.md-basic-chip).md-warn {
    background-color: #f44336;
    color: white; }

md-dialog-container {
  background: white; }

md-icon.md-primary {
  color: #00bcd4; }

md-icon.md-accent {
  color: #18ffff; }

md-icon.md-warn {
  color: #f44336; }

.md-input-placeholder {
  color: rgba(0, 0, 0, 0.38); }
  .md-input-placeholder.md-focused {
    color: #00bcd4; }
    .md-input-placeholder.md-focused.md-accent {
      color: #18ffff; }
    .md-input-placeholder.md-focused.md-warn {
      color: #f44336; }

input.md-input-element:-webkit-autofill + .md-input-placeholder .md-placeholder-required,
.md-input-placeholder.md-float.md-focused .md-placeholder-required {
  color: #18ffff; }

.md-input-underline {
  border-color: rgba(0, 0, 0, 0.12); }
  .md-input-underline .md-input-ripple {
    background-color: #00bcd4; }
    .md-input-underline .md-input-ripple.md-accent {
      background-color: #18ffff; }
    .md-input-underline .md-input-ripple.md-warn {
      background-color: #f44336; }

md-list md-list-item, md-list a[md-list-item], md-nav-list md-list-item, md-nav-list a[md-list-item] {
  color: black; }

md-list [md-subheader], md-nav-list [md-subheader] {
  color: rgba(0, 0, 0, 0.54); }

md-divider {
  border-top-color: rgba(0, 0, 0, 0.12); }

md-nav-list .md-list-item:hover, md-nav-list .md-list-item.md-list-item-focus {
  background: rgba(0, 0, 0, 0.04); }

.md-menu-content {
  background: white; }

[md-menu-item] {
  background: transparent;
  color: rgba(0, 0, 0, 0.87); }
  [md-menu-item][disabled] {
    color: rgba(0, 0, 0, 0.38); }
  [md-menu-item] md-icon {
    color: rgba(0, 0, 0, 0.54); }
  [md-menu-item]:hover:not([disabled]), [md-menu-item]:focus:not([disabled]) {
    background: rgba(0, 0, 0, 0.04); }

.md-progress-bar-background {
  background: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20version%3D%271.1%27%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20xmlns%3Axlink%3D%27http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%27%20x%3D%270px%27%20y%3D%270px%27%20enable-background%3D%27new%200%200%205%202%27%20xml%3Aspace%3D%27preserve%27%20viewBox%3D%270%200%205%202%27%20preserveAspectRatio%3D%27none%20slice%27%3E%3Ccircle%20cx%3D%271%27%20cy%3D%271%27%20r%3D%271%27%20fill%3D%27#b2ebf2%27%2F%3E%3C%2Fsvg%3E"); }

.md-progress-bar-buffer {
  background-color: #b2ebf2; }

.md-progress-bar-fill::after {
  background-color: #00acc1; }

md-progress-bar.md-accent .md-progress-bar-background {
  background: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20version%3D%271.1%27%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20xmlns%3Axlink%3D%27http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%27%20x%3D%270px%27%20y%3D%270px%27%20enable-background%3D%27new%200%200%205%202%27%20xml%3Aspace%3D%27preserve%27%20viewBox%3D%270%200%205%202%27%20preserveAspectRatio%3D%27none%20slice%27%3E%3Ccircle%20cx%3D%271%27%20cy%3D%271%27%20r%3D%271%27%20fill%3D%27#b2ebf2%27%2F%3E%3C%2Fsvg%3E"); }

md-progress-bar.md-accent .md-progress-bar-buffer {
  background-color: #b2ebf2; }

md-progress-bar.md-accent .md-progress-bar-fill::after {
  background-color: #00acc1; }

md-progress-bar.md-warn .md-progress-bar-background {
  background: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20version%3D%271.1%27%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20xmlns%3Axlink%3D%27http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%27%20x%3D%270px%27%20y%3D%270px%27%20enable-background%3D%27new%200%200%205%202%27%20xml%3Aspace%3D%27preserve%27%20viewBox%3D%270%200%205%202%27%20preserveAspectRatio%3D%27none%20slice%27%3E%3Ccircle%20cx%3D%271%27%20cy%3D%271%27%20r%3D%271%27%20fill%3D%27#ffcdd2%27%2F%3E%3C%2Fsvg%3E"); }

md-progress-bar.md-warn .md-progress-bar-buffer {
  background-color: #ffcdd2; }

md-progress-bar.md-warn .md-progress-bar-fill::after {
  background-color: #e53935; }

md-progress-spinner path, md-progress-circle path, md-spinner path {
  stroke: #00acc1; }

md-progress-spinner.md-accent path, md-progress-circle.md-accent path, md-spinner.md-accent path {
  stroke: #00acc1; }

md-progress-spinner.md-warn path, md-progress-circle.md-warn path, md-spinner.md-warn path {
  stroke: #e53935; }

.md-radio-outer-circle {
  border-color: rgba(0, 0, 0, 0.54); }
  .md-radio-checked .md-radio-outer-circle {
    border-color: #18ffff; }
  .md-radio-disabled .md-radio-outer-circle {
    border-color: rgba(0, 0, 0, 0.38); }

.md-radio-inner-circle {
  background-color: #18ffff; }
  .md-radio-disabled .md-radio-inner-circle {
    background-color: rgba(0, 0, 0, 0.38); }

.md-radio-ripple .md-ripple-foreground {
  background-color: rgba(24, 255, 255, 0.26); }
  .md-radio-disabled .md-radio-ripple .md-ripple-foreground {
    background-color: rgba(0, 0, 0, 0.38); }

.md-select-trigger {
  color: rgba(0, 0, 0, 0.38);
  border-bottom: 1px solid rgba(0, 0, 0, 0.12); }
  md-select:focus:not(.md-select-disabled) .md-select-trigger {
    color: #00bcd4;
    border-bottom: 1px solid #00bcd4; }
  md-select.ng-invalid.ng-touched:not(.md-select-disabled) .md-select-trigger {
    color: #f44336;
    border-bottom: 1px solid #f44336; }

.md-select-arrow {
  color: rgba(0, 0, 0, 0.38); }
  md-select:focus:not(.md-select-disabled) .md-select-arrow {
    color: #00bcd4; }
  md-select.ng-invalid.ng-touched:not(.md-select-disabled) .md-select-arrow {
    color: #f44336; }

.md-select-content {
  background: white; }

.md-select-value {
  color: rgba(0, 0, 0, 0.87); }
  .md-select-disabled .md-select-value {
    color: rgba(0, 0, 0, 0.38); }

md-option:hover:not(.md-option-disabled), md-option:focus:not(.md-option-disabled) {
  background: rgba(0, 0, 0, 0.04); }

md-option.md-selected {
  background: rgba(0, 0, 0, 0.04);
  color: #00bcd4; }

md-option.md-option-disabled {
  color: rgba(0, 0, 0, 0.38); }

.md-sidenav-container {
  background-color: #fafafa;
  color: rgba(0, 0, 0, 0.87); }

md-sidenav {
  background-color: white;
  color: rgba(0, 0, 0, 0.87); }
  md-sidenav.md-sidenav-push {
    background-color: white; }

.md-sidenav-backdrop.md-sidenav-shown {
  background-color: rgba(0, 0, 0, 0.6); }

md-slide-toggle.md-checked:not(.md-disabled) .md-slide-toggle-thumb {
  background-color: #00bcd4; }

md-slide-toggle.md-checked:not(.md-disabled) .md-slide-toggle-bar {
  background-color: rgba(0, 188, 212, 0.5); }

md-slide-toggle.md-slide-toggle-focused:not(.md-checked) .md-ink-ripple {
  background-color: rgba(0, 0, 0, 0.12); }

md-slide-toggle.md-slide-toggle-focused .md-ink-ripple {
  background-color: rgba(0, 188, 212, 0.26); }

md-slide-toggle.md-primary.md-checked:not(.md-disabled) .md-slide-toggle-thumb {
  background-color: #00bcd4; }

md-slide-toggle.md-primary.md-checked:not(.md-disabled) .md-slide-toggle-bar {
  background-color: rgba(0, 188, 212, 0.5); }

md-slide-toggle.md-primary.md-slide-toggle-focused:not(.md-checked) .md-ink-ripple {
  background-color: rgba(0, 0, 0, 0.12); }

md-slide-toggle.md-primary.md-slide-toggle-focused .md-ink-ripple {
  background-color: rgba(0, 188, 212, 0.26); }

md-slide-toggle.md-warn.md-checked:not(.md-disabled) .md-slide-toggle-thumb {
  background-color: #f44336; }

md-slide-toggle.md-warn.md-checked:not(.md-disabled) .md-slide-toggle-bar {
  background-color: rgba(244, 67, 54, 0.5); }

md-slide-toggle.md-warn.md-slide-toggle-focused:not(.md-checked) .md-ink-ripple {
  background-color: rgba(0, 0, 0, 0.12); }

md-slide-toggle.md-warn.md-slide-toggle-focused .md-ink-ripple {
  background-color: rgba(244, 67, 54, 0.26); }

.md-disabled .md-slide-toggle-thumb {
  background-color: #bdbdbd; }

.md-disabled .md-slide-toggle-bar {
  background-color: rgba(0, 0, 0, 0.1); }

.md-slide-toggle-thumb {
  background-color: #fafafa; }

.md-slide-toggle-bar {
  background-color: rgba(0, 0, 0, 0.38); }

.md-slider-track {
  background-color: rgba(0, 0, 0, 0.26); }

.md-slider-track-fill {
  background-color: #18ffff; }

.md-slider-thumb {
  background-color: #18ffff; }

.md-slider-thumb-label {
  background-color: #18ffff; }

.md-slider-thumb-label-text {
  color: rgba(0, 0, 0, 0.87); }

[md-tab-nav-bar],
.md-tab-header {
  border-bottom: 1px solid #e0e0e0; }

.md-tab-label:focus {
  background-color: rgba(178, 235, 242, 0.3); }

md-ink-bar {
  background-color: #00bcd4; }

md-toolbar {
  background: whitesmoke;
  color: rgba(0, 0, 0, 0.87); }
  md-toolbar.md-primary {
    background: #00bcd4;
    color: white; }
  md-toolbar.md-accent {
    background: #18ffff;
    color: rgba(0, 0, 0, 0.87); }
  md-toolbar.md-warn {
    background: #f44336;
    color: white; }

.md-tooltip {
  background: rgba(97, 97, 97, 0.9); }
